
<div class = "flex h-screen">

  <div class ="w-[50%]">

     <form (ngSubmit)="onFormSubmit()"  [formGroup]="contactForm" class="px-4">
 
         <h1 class="py-10 font-extrabold text-5xl">
          Contactly
         </h1>
     
    <div>
      <label>NAME</label>
      <input type = "text" formControlName="name">
    </div>
    <div>
      <label>EMAIL</label>
      <input type = "text" formControlName="email">
    </div>
    <div>
      <label>PHONE</label>
      <input type = "text" formControlName="phone">
    </div>
    <div>
      <label for="favourite"></label>
      <input type = "checkbox" formControlName="favourite">
      <span>Favourite</span>
    </div>
    <div>
      <button type = "submit" class ="bg-slate-800 text-white px-4 py-2 rounded-sm w-full">Add</button>
    </div>
     </form>

  </div>

  <div class="overflow-auto w-[50%]">

    @if (contacts$ | async; as contacts)
    {
      @if (contacts.length > 0 )
      {

        <ul>
        @for (item of contacts; track $index) { 

            <li class="p-2 bg-slate-100 border-b-2 borer-slate-200">
            <span class="font-light tex-3xl">{{item.name}}</span>
            <div class="flex gap-10 mt-4">
              <span class ="flex items-center">
                {{item.email}}
              </span>

              <span class="flex items-center">
                {{item.phone}}
              </span>
            </div>
            
             <div class="mt-r flex w-full gap-4">
               <a class="bg-emerald-400 py-1 px-2 rouned-sm cursor-pointer" href="{{'tel:' + item.phone}}"></a>
               <button class="bg-slate-50 text-dark py-2 px-4 rouned-sm" type="button" (click)="onDelete(item.id)">
            
                </button>
             </div>

            </li>

        }
         </ul>
        
      }
      @else {
       <p>No contacts found</p>
      }
    }

  </div>
</div>


